<!DOCTYPE html>
<!--
Mi primera página dinamica
-->
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org/1999/xhtml" 
      >
    <head th:replace="~{layout/plantilla :: head}">
        <title>BOHDI WELLNESS</title>
        <meta charset="UTF-8"/>

    </head>
    <body> 
        <div th:replace="~{cliente/clienteHome :: headerCliente}"></div>


        <section th:replace="~{horarioUsuarios/fragmentos :: listadoHorarios}"/>

        <footer th:replace="~{layout/plantilla :: footer}">  </footer>


    </body>
</html>
