<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/1999/xhtml">
    <head th:fragment="head">
        <title>BOHDI WELLNESS - Fragmentos</title>
        <meta charset="UTF-8"/>
    </head>
    <body>

        <!-- Fragmento de listado de productos -->
        <section th:fragment="listadoProductos(productos)">
            <div class="container my-5">
                <h2 class="text-center text-success mb-4">Bienestar y recuperación a tu medida</h2>

                <!-- Contenedor de productos -->
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col" th:each="producto : ${productos}">
                        <div class="card h-100 shadow">
                            <img th:src="@{${producto.imagen}}" class="card-img-top" th:alt="${producto.nombre}" style="object-fit: cover; max-height: 200px;">
                                <div class="card-body text-center">
                                    <h5 class="card-title fw-bold text-success" th:text="${producto.nombre}">Nombre del Producto</h5>
                                    <p class="card-text text-muted" th:text="${producto.descripcion}">Descripción del producto</p>
                                    <h6 class="text-primary fw-bold" th:text="'₡ ' + ${#numbers.formatDecimal(producto.precio, 0, 0)}">₡0</h6>
                                    <figcaption ¢[[${p.precio}]] ([[${p.stock}]]) >
                                        <form>
                                            <input type="hidden" name="idProducto" th:value="${producto.idProducto}" />
                                           
                                            <button type="button" onclick="addCart(this.form)" class="btn btn-success mt-2"> Añadir al carrito 
                                                <i class="fas fa-cart-arrow-down"></i>
                                            </button>
                                        </form>
                                    </figcaption>
                                </div>
                        </div>
                    </div>
                </div>

                <div class="text-center mt-4">
                    <div th:replace="~{carrito/fragmentos :: verCarrito}"></div>
                </div>

                <!-- Nota al pie de la lista de productos -->
                <p class="text-center text-muted mt-4">*Precios por unidad, no incluyen I.V.A</p>
            </div>
        </section>

    </body>
</html>
