<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/1999/xhtml">
<head th:replace="~{layout/plantilla :: head}">
    <title>BOHDI WELLNESS - Productos</title>
    <meta charset="UTF-8"/>
</head>
<body>
    <header th:replace="~{layout/plantilla :: header}"></header>

    <!-- Fragmento de listado de productos -->
    <section th:replace="~{productosCliente/fragmentos :: listadoProductos(productos=${productos})}"></section>

    <footer th:replace="~{layout/plantilla :: footer}"></footer>
</body>
</html>
