<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/1999/xhtml">
<head th:replace="~{layout/plantilla :: head}">
    <title>BOHDI WELLNESS - Membresías Cliente</title>
</head>
<body>
    <header th:replace="~{layout/plantilla :: header}"></header>

    <!-- Incluir el fragmento de listado de membresías desde fragmentos.html en templates.membresiasCliente -->
    <!--Prueba de Comentario-->
    <section th:replace="~{membresiasCliente/fragmentos :: listadoMembresiasCliente(membresias=${membresias})}"></section>

    <footer th:replace="~{layout/plantilla :: footer}"></footer>
</body>
</html>
